doctype html
html 
    head 
        title Minecraft Server status page.
        block meta 
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block styles
        block scripts
    body
        block content
        block footer 
            #footer
                p Welcome in the backrooms!
